html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #ffe6f1; /* Light pink background color */
  margin: 0;
  padding: 0;
}

.martop {
  margin-top: 5rem !important;
}

.purple {
  background: linear-gradient(150deg, #f731db, #4600f1 100%);
}

.my-jumbotron {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important; /* Adjusted padding */
  margin-bottom: 7rem !important;
  background-color: #ffccf9; /* Light purple background color for jumbotron */
}

* {
  font-family: 'Poppins', sans-serif;
}

#template {
  width: 60%;
  margin: 0 auto; /* Center the template */
}

#content {
  display: none;
}

#loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#testimoni .card {
  font-size: 0.9em;
  text-align: justify;
  background-color: #fff1f9; /* Light pink background color for cards */
  padding: 1rem;
  border-radius: 10px;
  margin: 0.5rem;
}

@media screen and (max-width: 992px) {
  .martop {
    margin-top: 2rem !important;
  }

  #template {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .my-jumbotron {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    margin-bottom: 3rem !important;
  }

  #template {
    width: 85%;
  }

  .features .col-md-4 {
    width: 50%;
  }

  .martop {
    margin-top: 0.5rem !important;
  }

  .tutorial {
    margin: 0 auto;
  }

  .tutorial .card {
    width: 100%;
    margin-bottom: 1rem;
  }

  #testimoni .card {
    margin: 0.5rem;
  }
}
